<section id="aboutUs" class="basicContainer">
    <h2>About Morgans on the Equator</h2>
    <div>
        <p>Bienvenidos! Welcome!</p>
        <p>I assume, if you are reading this blog, that you must be family, friend or acquaintance of some sort. (I guess you could just be extraordinarily lost on the world wide web.)  We are a family of four from Central Kentucky and we have decided to pull up stakes and go on an adventure. We are going to Ecuador for at least six months, likely longer. We hope to post lots of pictures and stories about our travels.  It’s our way of keeping all of you in the loop about where we are and how we are doing. Maybe we can convince a few of you to come for a visit (or stay awhile!).</p>
        <p><em>“It’s a dangerous business, Frodo, going out of your door,” he used to say.  “You step into the Road, and if you don’t keep your feet, there is no telling where you might be swept off to.”</em> --  The Fellowship of the Ring, JRR Tolkien</p>
        <p>(Yes, we are family of geeks, but most of you knew that already!)</p>
        <div class="aboutPic">
            <img class="responsiveImage" style="max-width: 469px" src="/images/about1.jpg">
            <p class="photoCredit">photo by <a href="http://www.ninaandwes.com">Nina & Wes Photography</a></p>
        </div>
    </div>
</section>