<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="">Create a post for the blog!</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="slug" class="col-md-2 control-label">SLUG</label>
                <div class="col-md-8">
                    <input class="form-control" id="slug" name="slug" value="{{post._id}}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-md-2 control-label">Title</label>
                <div class="col-md-8">
                    <input class="form-control" id="title" name="title" value="{{post.title}}">
                </div>
            </div>
            <div class="form-group">
                <label for="author" class="col-md-2 control-label">Author</label>
                <div class="col-md-8">
                    <input class="form-control" id="author" name="author" value="{{post.author}}">
                </div>
            </div>
            <div class="form-group">
                <label for="preview" class="col-md-2 control-label">Preview</label>
                <div class="col-md-8">
                    <div text-angular id="preview" ng-model="post.postPreview"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="post" class="col-md-2 control-label">Post</label>
                <div class="col-md-8">
                    <div text-angular id="post" ng-model="post.postText"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="tags" class="col-md-2 control-label">Tags</label>
                <div class="col-md-8">
                    <input class="form-control" id="tags" name="tags" value="{{post.tags}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <button type="submit" class="btn btn-default" ng-click="createPost()">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>