<div class="headerDiv">
    <header>
        <h1 class="text-center mainTitle">Morgans on the Equator</h1>
        <nav class="row mainNav">
            <div class="col-sm-4 col-sm-offset-4 topMenu">
                <div class="row text-center">
                    <div class="col-sm-4"><a class="menuLink" href="/#/"><h4>blog</h4></a></div>
                    <div class="col-sm-4"><a class="menuLink" href="/#about"><h4>about</h4></a></div>
                    <div class="col-sm-4"><a class="menuLink" href="/#photos"><h4>photos</h4></a></div>
                </div>
            </div>
        </nav>
    </header>
</div>