<section id="loginForm" class="basicContainer">
    <form method="post" action="/user/login">
        <ul>
            <li>
                <label for="username">User Name:</label>
                <input id="username" name="username">
            </li>
            <li>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </li>
            <li>
                <input type="submit" id="submitBtn" value="Login">
            </li>
        </ul>
    </form>
</section>