<section id="loginForm" class="basicContainer">
    <div class="loginMessage" ng-class="messageStyle">
        <span>{{loginMessage}}</span>
    </div>
    <div class="blogForm">
        <div>
            <label for="username">User Name:</label>
            <input id="username" name="username" ng-model="login.username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" ng-model="login.password">
        </div>
        <div>
            <input type="submit" ng-click="authenticate()" value="Login">
        </div>
    </div>
</section>