<section id="userHub" class="basicContainer">
    <h2>Username: {{userInfo.username}}</h2>
    <h4>Name: {{userInfo.name.first}} {{userInfo.name.last}}</h4>
    <div>
        <a href="#post/create">Create Post</a>
        <a href="#user/create">Create User</a>
    </div>
    <div class="postList">
        <div class="postLink" ng-repeat="post in posts">
            <a href="#post/edit/{{post._id}}">Edit</a>: <a href="/#post/{{post._id}}">{{post.title}}</a> ({{post.creationDate|date}})
        </div>
    </div>
    <button ng-click="logout()">Logout</button>
</section>