.headerDiv {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/banner.jpg');
}

.mainTitle {
    font-family: 'Bilbo Swash Caps', cursive;
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 0.4em;
    padding-top: 2em;
}


.menuLink:link {
    text-decoration: none;
    color: black;
}
.menuLink:visited {
    text-decoration: none;
    color: black;
}
.menuLink:hover {
    font-weight: bold;
}


.mainBody {
    width:80%;
    margin: 0 auto;
}


@media screen and (min-width: 500px) {
    .mainNav {
        margin: 50px auto;
        height: 40px;
        width: 50%;
    }

    .topMenu {
        width:100%;
        margin: 0 auto;
        overflow: auto;
        list-style: none;
        padding:0;
    }

    .topMenu li {
        font-family: 'Cherry Swash', cursive;
        font-size:20px;
        font-weight:300;
        float: left;
        border-right: 1px solid #999;
        width:32%;
        text-align:center;
    }

    .topMenu li:last-child {
        border:0;
    }

    .digest {
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }
}

@media screen and (max-width: 500px) {
    #mainNav {
        margin: 50px auto;
        height: 40px;
        width: 90%;
    }

    .topMenu {
        width:100%;
        margin: 0 auto;
        overflow: auto;
        list-style: none;
        padding:0;
    }

    .topMenu li {
        font-family: 'Cherry Swash', cursive;
        font-size:20px;
        font-weight:300;
        float: left;
        border-right: 1px solid #999;
        width:32%;
        text-align:center;
    }

    .topMenu li:last-child {
        border:0;
    }

    .digest {
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }
}


@media screen and (min-width: 800px) {
    .story {
        width:50%;
        float:left;
    }
}
@media screen and (max-width: 800px) {
    .story {
        width:100%;
        float:left;
    }
}

.innerStory {
    margin: 0.4em;
}
.innerStory > h3 {
    font-family: 'Bilbo', cursive;
    padding-left: 0.1em;
    font-size: 1.4em;
    margin: 0;
    font-weight: bold;
}
.innerStory > h5 {
    font-family: 'Varela Round', cursive;
    font-size: 0.6em;
    margin: 0;
}
.innerStory > p {
    font-family: 'Varela Round', sans-serif;
    padding: 0.1em;
}


#mainStory {
    margin: 0 auto;
}
@media screen and (min-width: 800px) {
    #mainStory {
        width: 60%;
    }
}
@media screen and (min-width: 350px) and (max-width: 800px) {
    #mainStory {
        width: 80%;
    }
}
@media screen and (max-width: 350px) {
    #mainStory {
        width: 95%;
    }
}
#mainStory > h2{
    font-family: 'Bilbo', cursive;
    font-size:35px;
}
#mainStory > h6{
    font-family: 'Cherry Swash', cursive;
}

.basicContainer {
    margin: 0 auto;
    width: 80%;
}

.loginMessage {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.informationalBox {
    color: dodgerblue;
}

.successBox {
    color: limegreen;
}

.errorBox {
    color: red;
}

.blogForm {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}


footer {
    font-family: 'Cherry Swash', cursive;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    font-size: 10pt;
    clear:both;
    width:80%;
    text-align: center;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
